/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');

* {
  /* font-family: 'Alegreya', serif; */
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

body {
  background-color: #020c1b;
  color: #e6f1ff;
}

nav a {
  color: #6be34d !important;
}

nav a:hover {
  color: white !important;
}

p {
  font-family: 'Carter One', cursive;
}

#resume {
  border: 0.2px solid #6be34d;
  color: #6be34d;
}

#resume:hover {
  color: #6be34d;
  border: 0.2px solid #fff;
}

.container p {
  color: #6be34d;
}

.container h1 {
  font-size: 80px;
  color: #ccd6f6;
}

.container h2 {
  font-size: 80px;
  color: #a8b2d1;
}

#social-links .nav-link {
  color: #8892b0;
}

#social-links .nav-link:hover {
  color: #6be34d;
}

.email a {
  text-align: center;
  color: #6be34d;
  border: 0.2px solid #6be34d;
  color: #6be34d;
  padding: 10px;
  text-decoration: none;
}

.email a:hover {
  color: #6be34d;
  border: 0.2px solid #fff;
  box-shadow: 1px 1px 1.5px white;
}

#intro-section {
  height: 70vh;
}

#about-header,
#education-header,
#portfolio-header,
#articles-header,
#reachout-header {
  display: inline;
  margin: 5px;
  border-bottom: 2px solid white;
}

.about img {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
  border-radius: 100%;
}

.about {
  height: 100vh;
}

.education h3 {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 70px !important;
  }

  h2 {
    font-size: 40px !important;
  }
  .nav-item {
    display: none;
  }

  .education {
    margin-top: 400px !important;
  }

  #toggle-button {
    background-color: #101c2e;
  }
}

.cards {
  max-width: 100%;
  color: white;
}

.education h4::before {
  content: '> ';
  margin: 10px;
}

.footer {
  text-align: center;
  margin: 20px;
}
