* {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

#about,
#skills,
#education,
#portfolio {
  font-size: 50px;
  margin-bottom: 30px;
}

/* fontsize:20 */

nav a {
  color: #fff !important;
}

nav a:hover {
  color: #6be34d !important;
}

#logo {
  width: 80px;
}

.email {
  margin-left: 11px;
  margin-top: 40px;
}

.col-md-11.header {
  margin: 10px auto;
}

#intro-section {
  height: auto !important;
  margin-top: 20px;
  margin-bottom: 100px;
}

.education {
  margin: 188px 0px;
}

.education .row {
  margin: 40px 0px;
}

.header p {
  letter-spacing: 0.2em;
  text-transform: capitalize;
  font-weight: bold;
}

#resume {
  border: 0.2px solid #6be34d;
  color: #6be34d;
}

.about-des {
  margin: 10px;
}

#resume:hover {
  color: #6be34d;
  border: 0.2px solid #fff;
}

.about-des li {
  text-decoration: none;
}

.more-info li {
  list-style: none;
}

.more-info a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.container p {
  color: #6be34d;
}

.container h1 {
  font-size: 80px;
  color: #ccd6f6;
}

.container h2 {
  font-size: 80px;
  color: #a8b2d1;
}

#social-links .nav-link {
  color: #8892b0;
}

#social-links .nav-link:hover {
  color: #6be34d;
}

.email a {
  text-align: center;
  color: #6be34d;
  border: 0.2px solid #6be34d;
  color: #6be34d;
  padding: 10px;
  text-decoration: none;
}

.email a:hover {
  color: #6be34d;
  border: 0.2px solid #fff;
  box-shadow: 1px 1px 1.5px white;
}

#about-header,
#education-header,
#portfolio-header,
#articles-header,
#reachout-header {
  display: inline;
  margin: 5px;
  border-bottom: 2px solid white;
}

.about img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  border-radius: 10px;
}

#description {
  margin-top: 80px;
}

.cards {
  max-width: 100%;
  color: white;
}

.footer {
  text-align: center;
  margin: 20px;
}

#social-links svg {
  font-size: 30px;
}

.skills {
  margin: 100px 0px;
}

.skills svg {
  font-size: 80px;
  padding: 10px;
  margin: 10px;
}

.skills svg:hover {
  color: #6be34d;
  cursor: pointer;
}

a.card-link {
  color: #fff;
  font-size: 16px;
}

.card .text-muted {
  font-size: 11px;
}

#tools {
  color: gray;
}

/* Design For Mo  */
@media (max-width: 768px) {
  * {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
  }

  a.card-link {
    color: #fff;
    font-size: 15px;
  }

  .col-md-11.header {
    margin: 20px 10px auto;
  }

  .email {
    margin-left: 0px;
    margin-top: 20px;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  #social-links .nav-item {
    display: none;
  }

  #toggle-button {
    background-color: #101c2e;
  }

  .skills svg {
    font-size: 40px;
    padding: 5px;
    margin: 5px;
  }
}
